<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %} Response</title>  
    </head>
    <body>
        <p>Status: {{ message }}</p>
    </body>
</html>