<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        {% for header in headers %}
            <meta name="header" content="{{ header }}">
        {% endfor %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %} Response</title>  
    </head>
    <body>
        <h1>Status Code: {{ status }}</h1>
        {% if content is iterable %}
            <p>Content: {{ content|json_encode(constant('JSON_PRETTY_PRINT')) }}</p>
        {% else %}
            <p>Content: {{ content }}</p>
        {% endif %}
    </body>
</html>